/** SIDEBAR MENU **/

.sidebar {
    width: 260px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #FFF;
    padding: 10px;
    border-left: 1px solid #ccc;
    z-index: 999;
}
.nav-side-menu {
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    width: 300px;
    border-width: 1px;
    border-style: solid;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
}
.nav-side-menu .brand {
    line-height: 50px;
    display: block;
    text-align: left;
    font-size: 14px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    width: 100%;
}
.nav-side-menu ul:not(collapsed) .arrow:before,
.nav-side-menu li:not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    line-height: 28px;
    margin-left: 0px;
    padding-left: 25px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li {
    padding-left: 0px;
    float: none;
    width: 100%;
}
.nav-side-menu li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: white;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
div[data-component="crn-sidebar"] .navbar-nav {
    float: none !important;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
        float: none;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
.brand .info {
    display: inline-block;
    line-height: 16px;
}
.user-avatar {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 10px;
}
img.picture-profile {
    width: 36px;
    height: 36px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
div[data-component="crn-button"] {
    margin-bottom: 10px;
}
.brand .info .info-links {
    font-size: 12px;
}
.sub-menu a {
    display: inline-block !important;
}
.crn-select {
    width: 100%;
}
/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .main-view-sidebar {
        margin-left: 300px !important;
    }
}
/* END SIDEBAR */

.upload-image-component {
    padding: 8px;
}
.upload-image-component {
    max-height: 128px;
    max-width: 128px;
    background-color: #ccc;
    display: table;
}
.upload-image-component .remove {
    position: absolute;
    margin-top: -8px;
    margin-left: -18px;
}
.upload-image-component .remove span {
    margin-top: 3px;
}
.drop-box {
    background: #F8F8F8;
    border: 2px dashed #DDD;
}
.dragover {
    border: 2px dashed blue;
}
